@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Matthew Jeshua Martin Development Portfolio</h1>
    <p>Here I'm going to showcase Projects I'm working on!</p>
</div>
